## Recommendation_Dashboard_Data_Prep

### Project Description:

The below codes seeks to generate data sets to accompany the plotly and dash dashboard.

In [10]:
# Import packages
import pandas as pd
import numpy as np

### Data Preprocessing

In [11]:
# Import dat set processed from the topic modeling analysis
all = pd.read_csv('Data/Preprocessed_Reviews_Data.csv')
all = all.drop(['Unnamed: 0'], axis = 1)

# Print data summary
print('\n')
all.info()
all.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100763 entries, 0 to 100762
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   business_name  100763 non-null  object
 1   user_id        100763 non-null  object
 2   old_text       100763 non-null  object
 3   stars          100763 non-null  float64
 4   new_text       100763 non-null  object
 5   topic          100763 non-null  int64
dtypes: float64(1), int64(1), object(4)
memory usage: 4.6+ MB

,business_name,user_id,old_text,stars,new_text,topic
0,Levetto,TZQSUDDcA4ek5gBd6BzcjA,"In the heart of Chinatown, I discovered it enr...",4.0,heart chinatown discov enrout kensington marke...,3
1,Café La Gaffe,TZQSUDDcA4ek5gBd6BzcjA,One of my Baldwin Village favourites!\n\nIt's ...,5.0,one baldwin villag favourit well establish wel...,0
2,Niuda Hand-Pulled Noodles,TZQSUDDcA4ek5gBd6BzcjA,Great first experience.\n\nMy friend and I wer...,4.0,great first experi friend late dinner last wee...,1
3,Light Cafe,TZQSUDDcA4ek5gBd6BzcjA,Lots of new things to try on Baldwin this summ...,3.0,lot new thing tri baldwin summer includ new ki...,2
4,Raijin Ramen,TZQSUDDcA4ek5gBd6BzcjA,With the exponential growth of ramen joints in...,4.0,exponenti growth ramen joint citi one remain o...,1

In [14]:
# Export data set to project directory as ALL.csv
all.to_csv('Data/All.csv')

This data set will contain all reviews for the user to be recommended all restaurants by all standards.

In [3]:
# Filter data set to exclude all service related reviews (topic0)
food = data.loc[data['topic'] != 0]

# Print data summary
print('\n')
food.info()
food.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66270 entries, 0 to 100762
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   business_name  66270 non-null  object
 1   user_id        66270 non-null  object
 2   old_text       66270 non-null  object
 3   stars          66270 non-null  float64
 4   new_text       66270 non-null  object
 5   topic          66270 non-null  int64
dtypes: float64(1), int64(1), object(4)
memory usage: 3.5+ MB

,business_name,user_id,old_text,stars,new_text,topic
0,Levetto,TZQSUDDcA4ek5gBd6BzcjA,"In the heart of Chinatown, I discovered it enr...",4.0,heart chinatown discov enrout kensington marke...,3
2,Niuda Hand-Pulled Noodles,TZQSUDDcA4ek5gBd6BzcjA,Great first experience.\n\nMy friend and I wer...,4.0,great first experi friend late dinner last wee...,1
3,Light Cafe,TZQSUDDcA4ek5gBd6BzcjA,Lots of new things to try on Baldwin this summ...,3.0,lot new thing tri baldwin summer includ new ki...,2
4,Raijin Ramen,TZQSUDDcA4ek5gBd6BzcjA,With the exponential growth of ramen joints in...,4.0,exponenti growth ramen joint citi one remain o...,1
5,Light Cafe,TZQSUDDcA4ek5gBd6BzcjA,"Back for another lunch! Already, I know. :P\n\...",4.0,back anoth lunch alreadi know p anoth friend c...,2

In [9]:
# Export food review data set to project directory as Food.csv
food.to_csv('Data/Food.csv')

This data set will contain food reviews for the user to be recommended restaurants by food standards.